<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingzi.uitest">
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_black_cat"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArrayAdapterActivity"
            android:label="@string/title_activity_adapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SimpleAdapterActivity"
            android:label="@string/title_activity_simple_adapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BaseAdapterActivity"
            android:label="@string/title_activity_base_adapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateListViewActivity"
            android:label="@string/title_activity_update_list_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gridview.GridViewActivity"
            android:label="@string/title_activity_grid_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".spinner.SpinnerActivity"
            android:label="@string/title_activity_spinner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".autocompletetext.AutoCompleteTextActivity"
            android:label="@string/title_activity_auto_complete_text"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".expandablelistview.ExpandableListViewActivity"
            android:label="@string/title_activity_expandable_list_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewflipper.StaticViewFlipperActivity"
            android:label="@string/title_activity_view_flipper"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewflipper.DynamicViewFlipActivity"
            android:label="@string/title_activity_dynamic_view_flip"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".toast.ToastActivity"
            android:label="@string/title_activity_toast"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".notification.NotifyActivity"
            android:label="@string/title_activity_notify"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".notification.Notify2Activity">

        </activity>
    </application>

</manifest>
